.headerContainer {

  background-color: #fff7eb;
  height: 130px;
  width: 1300px;
  margin: 0 auto;
  border-radius: 0 0 10px 10px;

}

.signUp {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: -100px;
  padding-right: 50px;
}

.logIn {
  color: blue;
  font-family: 'Noto Sans JP', sans-serif;
  padding-left: 10px;
  font-weight: 700;
  font-size: 18px;
}

.logologo {
  width: 230px;
  height: 100px;
 }


.search {
  position: relative;
  width: 600px;
  margin: 0 auto;
  margin-top: -100px;



}
.put, .ton {
  border: none;
  outline: none;
  border-radius: 3px;
}
.put {
  width: 100%;
  height: 42px;
  background: #F9F0DA;
  padding-left: 15px;
}
.ton {
  height: 26px;
  width: 26px;
  position: absolute;
  top: 8px;
  right: 8px;
  background: #F15B42;
}
.ton:before {
  content: "\f105";
  font-family: 'FontAwesome';
  color: #F9F0DA;
  font-size: 20px;
  font-weight: bold;
}


.ulTabs {
  list-style-type: none;
  text-indent: 15px;
  font-size: 18px;
  font-weight: 700;
}

.ulTabs li{
  display: inline-block;
  list-style-type: none;
  margin: 10px 0; /*расстояние между пунктами по высоте*/
  cursor: pointer;
  color: blue;
  font-family: 'Noto Sans JP', sans-serif;


}

.decoration {
  text-decoration: none;
}


.ulTabs li:hover {
  color:black;
  transition: 1s;
}

.ulTabs li:active {
  color: black;
}

.alls {
  color: black;
}


 .container {
  background-color: #f5bd9a;

}




/*------------------- catalog ------------------------*/
.mainContainer {
  width: 1400px;
  margin: 0 auto;
  margin-top: 50px;

}

.camp {

  font-family: 'Nunito', sans-serif;
  font-size: 19px;
  text-align: center;
  font-weight: 700;

}

.allCamp {
  color: white;
  text-decoration: none;
  width: 600px;
  height: 300px;
  border-radius: 13px;
  margin-left: 90px;
font-family: 'Nunito', sans-serif;
  font-size: 19px;
  text-align: center;
  font-weight: 700;
  background: url('images/camps.jpg');

}

.actualCamp {

  width: 300px;
  height: 140px;
  border-radius: 13px;
  margin-left: 730px;
  margin-top: -300px;
  background-image: url('images/flowers.jpg') ;

}


.popularCamp {

  width: 300px;
  height: 140px;
  margin-left: 730px;
  margin-top: 20px;
  background-image: url(images/banana.jpg);
    border-radius: 13px;

}

.teenagerCamp {

    width: 280px;
    height: 300px;
    margin-top: -300px;
    border-radius: 13px;
    background-image: url(images/christmas.jpg);
    margin-left: 1050px;
}

 .scale {
    transition: 1s; /* Время эффекта */
   }
   .scale:hover {
    transform: scale(1.1); /* Увеличиваем масштаб */
   }

.aText {
 color: white;
  text-decoration: none;
}

/* FOOTER------------------------- */


.contact {
  /* Style for "BG Colour" */
    height: 250px;
    background-color: #fff7eb;
    width: 1200px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 100px 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    color: #6c6c6c;
    font-size: 16px;
    font-family: "Open Sans Regular", sans-serif;
    grid-template-areas: "contact quickLinks fromtheblog  grab ";
    border-radius: 10px 10px 0 0;
}

.contact h4 {
  color: #666666;
font-family: Georgia;
font-size: 13px;
font-weight: 400;
line-height: 15.6px;
text-transform: uppercase;
}

.contacts ul li{
  list-style-type: none;
}

.contacts h4 {
  padding-left: 15px;
  /* Style for "CONTACT DE" */


}


.contacts p {
  padding-left: 15px;
  padding-top: 10px;
}

.contacts ul {
  padding-top: 40px;
      margin-left: -26px;
}

.links ul li {
  list-style-type: none
}

.links h4 {


padding-left: 40px;
}

.links ul {
  padding-top: 10px;
  /* Style for "Link Text" */


}
.links ul li {
color: #999999;
font-family: Georgia;
font-size: 12px;
font-weight: 400;
line-height: 14.4px;
margin-top: 15px;
}

.links hr {
  /* Style for "Rectangle" */
width: 210px;
height: 1px;
color: #484848;
    margin-top: 9px;
}

.blog h5 {
  padding-top: 10px;
}

.blog p {
  padding-top: 10px;
}

.blog {
  padding-left: 25px;
}

.news input {
  background-color: #1f1f1f;
  color: #ffffff;
  width: 200px;
}

input {
  margin: 6px;
}

input.button {
  color: #ffffff;
  float: left;
  margin-left: 5px;
}



.footer-copy {
  /* Style for "BG Colour" */
width: 1200px;
height: 60px;
background-color: #F9F0DA;
margin:0 auto;
}

.Copy {
  /* Style for "Copyright" */
width: 322px;
height: 13px;
color: #737373;
font-family: Georgia;
font-size: 12px;
font-weight: 400;
line-height: 14.4px;
float: left;
padding-top: 25px;
}


a {
  text-decoration: none;
}

.links {
  margin-right: 35px;
}
